### Imports

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.pipeline import Pipeline
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder, StandardScaler
from sklearn.impute import SimpleImputer, KNNImputer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.compose import ColumnTransformer
from sklearn.model_selection import train_test_split, cross_val_score, RandomizedSearchCV, GridSearchCV, KFold
from sklearn.linear_model import LogisticRegression, LinearRegression, SGDRegressor
from sklearn.ensemble import RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier, BaggingClassifier, RandomForestRegressor
from sklearn.neighbors import KNeighborsClassifier, KNeighborsRegressor
from sklearn.svm import LinearSVC, SVR
from sklearn.tree import DecisionTreeClassifier, DecisionTreeRegressor
from sklearn.metrics import ConfusionMatrixDisplay, f1_score, make_scorer, confusion_matrix, mean_squared_error, mean_absolute_error

from statsmodels.stats.outliers_influence import variance_inflation_factor
from statsmodels.tools.tools import add_constant

from xgboost import XGBClassifier, XGBRFRegressor
from catboost import CatBoostClassifier

from scipy.stats import randint, uniform

### Data Loading

In [4]:
data = pd.read_csv("car_insurance_claim.csv")

In [5]:
data.head()

          ID  KIDSDRIV    BIRTH  ...  CAR_AGE  CLAIM_FLAG           URBANICITY
0   63581743         0  16MAR39  ...     18.0           0  Highly Urban/ Urban
1  132761049         0  21JAN56  ...      1.0           0  Highly Urban/ Urban
2  921317019         0  18NOV51  ...     10.0           0  Highly Urban/ Urban
3  727598473         0  05MAR64  ...     10.0           0  Highly Urban/ Urban
4  450221861         0  05JUN48  ...      6.0           0  Highly Urban/ Urban

[5 rows x 27 columns]

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10302 entries, 0 to 10301
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10302 non-null  int64
 1   KIDSDRIV    10302 non-null  int64
 2   BIRTH       10302 non-null  object
 3   AGE         10295 non-null  float64
 4   HOMEKIDS    10302 non-null  int64
 5   YOJ         9754 non-null   float64
 6   INCOME      9732 non-null   object
 7   PARENT1     10302 non-null  object
 8   HOME_VAL    9727 non-null   object
 9   MSTATUS     10302 non-null  object
 10  GENDER      10302 non-null  object
 11  EDUCATION   10302 non-null  object
 12  OCCUPATION  9637 non-null   object
 13  TRAVTIME    10302 non-null  int64
 14  CAR_USE     10302 non-null  object
 15  BLUEBOOK    10302 non-null  object
 16  TIF         10302 non-null  int64
 17  CAR_TYPE    10302 non-null  object
 18  RED_CAR     10302 non-null  object
 19  OLDCLAIM    10302 non-null  object
 20  CLM_FREQ    10302 non-null  int64
 21  REVOKED     10302 non-null  object
 22  MVR_PTS     10302 non-null  int64
 23  CLM_AMT     10302 non-null  object
 24  CAR_AGE     9663 non-null   float64
 25  CLAIM_FLAG  10302 non-null  int64
 26  URBANICITY  10302 non-null  object
dtypes: float64(3), int64(8), object(16)
memory usage: 2.1+ MB

In [7]:
data.columns

Index(['ID', 'KIDSDRIV', 'BIRTH', 'AGE', 'HOMEKIDS', 'YOJ', 'INCOME',
       'PARENT1', 'HOME_VAL', 'MSTATUS', 'GENDER', 'EDUCATION', 'OCCUPATION',
       'TRAVTIME', 'CAR_USE', 'BLUEBOOK', 'TIF', 'CAR_TYPE', 'RED_CAR',
       'OLDCLAIM', 'CLM_FREQ', 'REVOKED', 'MVR_PTS', 'CLM_AMT', 'CAR_AGE',
       'CLAIM_FLAG', 'URBANICITY'],
      dtype='object')

In [8]:
data.describe()

                 ID      KIDSDRIV  ...      CAR_AGE    CLAIM_FLAG
count  1.030200e+04  10302.000000  ...  9663.000000  10302.000000
mean   4.956631e+08      0.169288  ...     8.298148      0.266550
std    2.864675e+08      0.506512  ...     5.714450      0.442177
min    6.317500e+04      0.000000  ...    -3.000000      0.000000
25%    2.442869e+08      0.000000  ...     1.000000      0.000000
50%    4.970043e+08      0.000000  ...     8.000000      0.000000
75%    7.394551e+08      0.000000  ...    12.000000      1.000000
max    9.999264e+08      4.000000  ...    28.000000      1.000000

[8 rows x 11 columns]

### Data Cleaning

In [9]:
# Rename columns
col_names = {
    "KIDSDRIV" : "n_young_drivers",
    "BIRTH" : "date_of_birth",
    "AGE" : "age",
    "HOMEKIDS" : "n_children",
    "YOJ" : "year_of_jobs",
    "INCOME" : "income",
    "PARENT1" : "single_parent",
    "HOME_VAL" : "home_value",
    "MSTATUS" : "married",
    "GENDER" : "gender",
    "EDUCATION" : "highest_education",
    "OCCUPATION" : "occupation",
    "TRAVTIME" : "commute_dist",
    "CAR_USE" : "type_of_use",
    "BLUEBOOK" : "vehicle_values",
    "TIF" : "policy_tenure",
    "CAR_TYPE" : "car_type",
    "RED_CAR" : "red_vehicle",
    "OLDCLAIM" : "5_year_claim_value",
    "CLM_FREQ" : "5_year_num_claim",
    "REVOKED" : "license_revoked",
    "MVR_PTS" : "license_points",
    "CLM_AMT" : "new_claim_value",
    "CAR_AGE" : "vehicle_age",
    "CLAIM_FLAG": "is_claim",
    "URBANICITY" : "address_type",
}

data.rename(columns=col_names, inplace=True)

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10302 entries, 0 to 10301
Data columns (total 27 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   ID                  10302 non-null  int64
 1   n_young_drivers     10302 non-null  int64
 2   date_of_birth       10302 non-null  object
 3   age                 10295 non-null  float64
 4   n_children          10302 non-null  int64
 5   year_of_jobs        9754 non-null   float64
 6   income              9732 non-null   object
 7   single_parent       10302 non-null  object
 8   home_value          9727 non-null   object
 9   married             10302 non-null  object
 10  gender              10302 non-null  object
 11  highest_education   10302 non-null  object
 12  occupation          9637 non-null   object
 13  commute_dist        10302 non-null  int64
 14  type_of_use         10302 non-null  object
 15  vehicle_values      10302 non-null  object
 16  policy_tenure       10302 non-null  int64
 17  car_type            10302 non-null  object
 18  red_vehicle         10302 non-null  object
 19  5_year_claim_value  10302 non-null  object
 20  5_year_num_claim    10302 non-null  int64
 21  license_revoked     10302 non-null  object
 22  license_points      10302 non-null  int64
 23  new_claim_value     10302 non-null  object
 24  vehicle_age         9663 non-null   float64
 25  is_claim            10302 non-null  int64
 26  address_type        10302 non-null  object
dtypes: float64(3), int64(8), object(16)
memory usage: 2.1+ MB

In [11]:
# Check for duplicate rows 
data.duplicated().sum()

1

In [12]:
data.drop_duplicates(inplace=True)

In [13]:
# data.dropna(axis=0, inplace=True)

In [14]:
currency_col = ['income', 'home_value', 'vehicle_values', '5_year_claim_value', 'new_claim_value']

# Remove $ symbols on those columns
def remove_currency(data, cols):
    for col in cols:
        data[col] = data[col].replace('[\\$,]', '', regex=True).astype("Int64")
    return data

data = remove_currency(data, currency_col)

In [15]:
# Remove z_ prefix
def remove_prefix(data):
    data = data.replace('[z_]', '', regex=True)
    return data

data = remove_prefix(data)

In [16]:
data.head()

          ID  n_young_drivers  ... is_claim         address_type
0   63581743                0  ...        0  Highly Urban/ Urban
1  132761049                0  ...        0  Highly Urban/ Urban
2  921317019                0  ...        0  Highly Urban/ Urban
3  727598473                0  ...        0  Highly Urban/ Urban
4  450221861                0  ...        0  Highly Urban/ Urban

[5 rows x 27 columns]

In [17]:
((data['new_claim_value'] > 0) & (data['is_claim'] == 0)).sum()

0